<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <h3>注册</h3>
    <form action="" method="post">
        <p>
            {{ form.uid.label }}
            {{ form.uid }}
        </p>
        <p>
            {{ form.username.label }}
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password }}
        </p>
        <select name="program" id="program">
            {% for program in program_list %}
                <option value={{program.name}}>{{program.name}}</option>
            {% endfor %}
        </select>
        <p>
            <select name="auth" id="auth">
                {% for job in auth %}
                    <option value="{{ job }}">{{job}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            {{ form.submit }}
        </p>

    </form>
</body>
</html>
