<!DOCTYPE html>
<html lang="en">
<head>
<title>song choosing page</title>
</head>
<body>
    <h1></h1>
    <h1>This is the song choosing page</h1>
    <form action="/song_choice" method="post">
        <p>第一首点歌</p>
        <select name="song1" id="song1">
            {% for song in order_song %}
                <option value={{song.id}}>{{song.song_name}}</option>
            {% endfor %}
        </select>
        <select name="song2" id="song2">
            {% for song in order_song %}
                <option value={{song.id}}>{{song.song_name}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>
